<div class="barre_footer">
    <div class="empty">   </div>
    <div class="footer-text">VisIoT</div>
    <div class="mail">Nous contacter : visiot@laposte.net</div>
    <!--Legal mentions missing-->
</div>
