<div class="barre_titre">
  <div>
      <table>
          <tr>
              <img class="home"; src='http://localhost:3000/staticres/home.png'>
              <h1>L'Équipe Visions </h1>
          </tr>
      </table>
    </div>
</div>
