<div class="barre_titre">
    <div>
      <a href="http://localhost:3000/"> <img src='http://localhost:3000/staticres/home.png' id = "home_button"> </a>
    </div>
      <h1>L'Équipe Visions </h1>
</div>
