<div class="barre_titre">
      <a href=<%= config.urlAccueil %>  > 
          <i class="home_button fa fa-home fa-5x"></i> 
      </a>
      <p class="container-titre">
          <h1>Vis</h1>
          <h3>IoT</h3>
      </p>

</div>
