<div class="haut">
    <a class="btn" href=<%= config.urlAccueil %>  >
        <i class="home_button fa fa-home fa-5x"></i>
    </a>
    <div class="container-titre">
        <div style="text-align:center"><h1 id="titre_vis">Vis</h1><h1 id="titre_iot">IoT</h1></div>
        <p class="header-slogan"> Site de ressources pour développeurs exigeants. </br> Des articles complets pour des objets connectés respectueux de la vie privée. </p>
    </div>
    <a class="btn" href=<%= config.urlAboutus %>><i class="boutonaboutus fa fa-users fa-4x"></i></a>
</div>

