<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" , href="css/stylesheet.css">
    <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800,400i" >
    <link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<%- include('partials/header') %>
<div class="core_text">
</br>
<p class = "extraits">
    "L'évolution rapide des  technologies et  la  mondialisation ont  créé  de  nouveaux enjeux pour  la  protection des 
    données à  caractère personnel. L'ampleur de  la  collecte et  du  partage  de  données 
    à  caractère personnel a augmenté  de  manière importante. Les  technologies permettent  tant  aux  entreprises  privées  qu'aux 
    autorités publiques d'utiliser les données à caractère personnel comme jamais auparavant dans le cadre de leurs activités. 
    De plus en plus, les personnes physiques rendent des informations les concernant accessibles publiquement 
    et à un niveau mondial. Les technologies ont transformé à la fois l'économie 
    et les rapports sociaux, et elles devraient encore faciliter le libre flux des données à caractère 
    personnel au sein de l'Union et leur  transfert vers des pays tiers et à des organisations 
    internationales, tout en assurant un niveau élevé de protection des données à caractère personnel. 
</br>
</br>
    Ces évolutions requièrent 
    un cadre de protection des données solide et plus cohérent dans l'Union, assorti d'une application rigoureuse 
    des règles, car il importe de susciter la confiance qui permettra à l'économie numérique de se  développer 
    dans  l'ensemble du  marché intérieur.  Les  personnes physiques devraient avoir  le  contrôle
    des données à caractère personnel les concernant. La sécurité tant juridique que pratique devrait 
    être renforcée pour les personnes physiques, les opérateurs économiques et les autorités publiques." 
</p>
<p class="references">
Articles 6 et 7 du Règlement Général sur la Protection des Données.
</br>
</br>
<p class="cubes"><i class="fa fa-cubes fa-5x"></i></p>                
</br>
</p>
<p class="intro">
    En mai 2018, le RGPD entre en application et la recherche sur 
    la technologie 5G dans le monde s’intensifie.
    C’est une période pleine de défis et de possibilités pour
    tous ceux qui ont à gérer des gros volumes de données. 
</br>
</br>
    L’objectif
    de <strong>VisIoT</strong> est d’informer tous ceux qui s’intéressent à la conception
    et au déploiement d’objets connectés sur les moyens d’action qui
    respectent le mieux la vie privée. 
</br>
</br>
    Cette démarche s’inscrit 
    dans le développement par la start-up <a href= "http://visionspol.eu/">Visions</a> d’un label 
    qui assure des standards élevés de protection des données. 
</br>
</br>
    Pour créer VisIoT, Visions a fait appel à <strong><a href="http://visionspfe.cluster020.hosting.ovh.net/223-2/">une équipe d’étudiants</a> 
    ingénieurs de CentraleSupélec</strong> faisant partie du programme <a href="http://www.latitudes.cc">Latitudes</a>.
</p>
</br>
</div>
</br>
</br>
<%- include('partials/footer') %>
</body>
</html>