<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="css/stylesheet.css">
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800,400i" >
        <link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <%- include('partials/header') %>


            <ul class="liste-accueil" > 
                </br>
                    <p >      
                            <div class="boutonressources">
                                <a href=<%= config.urlResources %>>
                                    <p class="txtonboutons"></br><i class="fa fa-book 2x"></i>  Ressources et Articles </br> informatifs </p>
                                </a>
                            </div>
                            <div class="boutonquiz">
                                    <a href=<%= config.urlQuiz %>>
                                        <p class="txtonboutons"> </br><i class="fa fa-question 2x"></i>  Testez vos connaissances sur</br> le RGPD</p>
                                    </a>
                            </div>
                        </p>
        </ul>
                            
    <%- include('partials/footer') %>
    </body>
</html>
