<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="css/stylesheet.css">
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800" >
        <link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
      <%- include('partials/header') %>
      <ul class="liste-accueil">
        <span class="sideline"></span>
            <!--div class="border_left"></div-->
        <div class="core_text">
            </br>
            <li>
                <h2> sous titre 1</h2>
                <p> Nous avons recensé certaines pratiques qui permettent de respecter
                les droits des utilisateurs. Nous les avons classés afin que chacun
                puisse voir les catégories qui l'intéresse (anonymisation coté objet,
                anonymisation coté serveur...). Les articles sont diponibles ici : </p>
                <a href=<%= config.urlResources %>><p> Ressources </p> </a>
            </li>
            <li>
                <h2> sous titre 2</h2>
                <p> Un peu de sensibilisation... Pour la culture gé... Concernant le RGPD </p>
                <a href=<%= config.urlResources %>><p> Quizz</p> </a>
            </li>
            <li>
                <h2> sous titre 3</h2>
                <p> About us </p>
                <a href=<%= config.urlResources %>><p> Qui sommes nous? #on pourrait relier visiot aussi à ce lien </p> </a>
            </li>
            </br>
        </div>
      </ul>
    </body>
</html>
