<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" , href="css/stylesheet.css">
    <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800,400i" >
    <link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="accueil">
            <br/><br/><br/><br/>
    <div class="liste-accueil" >
        <a style="text-decoration:none" href=<%= config.urlResources %>>
            <div class="boutonressources">
                <div class="txtonboutons">
                        <i class="fa fa-book 2x"></i>
                    <br/>
                    Ressources et Articles informatifs
                </div>
            </div>
        </a>
        <a style="text-decoration:none" href=<%= config.urlQuiz %> >
            <div class="boutonquiz">
                <div class="txtonboutons">
                    <i class="fa fa-question 2x"></i>
                    <br/>
                    Testez vos connaissances sur <br/>le RGPD
                </div>
            </div>
        </a>
    </div>
    <br/><br/>
    <div class="liste-accueil" >
        <p>
            En mai 2018, le RGPD entre en application et la recherche sur
            la technologie 5G dans le monde s’intensifie.
            C’est une période pleine de défis et de possibilités pour
            tous ceux qui ont à gérer des gros volumes de données.
        </br>
        </br>
            L’objectif
            de <strong>VisIoT</strong> est d’informer tous ceux qui s’intéressent à la conception
            et au déploiement d’objets connectés sur les moyens d’action qui
            respectent le mieux la vie privée.
        </br>
    </div>
</div>
<%- include('partials/footer') %>
</body>
</html>
