<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="http://localhost:3000/staticcss/stylesheet.css">
    </head>
    <body>
      <div class="core_text">
        <%- include('partials/header') %>

        <h2> This is the Home Page</h2>
      </div>
    </body>
</html>
