<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="http://localhost:3000/staticcss/stylesheet.css">
    </head>
    <body>
        <%- include('partials/header') %>

        <p> This is the Home Page</p>

    </body>
</html>
