<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="css/stylesheet.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800" >
        <link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    </head>
    <body>
      <%- include('partials/header') %>
      <form id="form" method="POST" action="/modifyarticles/modifyOld">
<!-- all the following forms will be stored in the database -->
        <div style="background-color:#dfdfdf;">
          <br>
          <p> Vous etes en train de modifier l'article : </p>
          <div class="form-group " style="padding-top:10px">
              <input class="form-control" id="post_title" name="post_title" type="text" placeholder="Title" value = "<%= article.title %>" >
          </div>
      <!-- dynamic markdown interpretor below -->
          <div class="form-group">
            <textarea class="form-control" id="markdown" name="post_content"><%= article.content %></textarea>
          </div>
        <div>
          <input id='publish' name='publish' type='submit' value='Modifier'>
          <br><br>
        </div>
      </div>
    </form>
  <script>
        var simplemde = new SimpleMDE();
  </script>
  <%- include('partials/footer') %>
    </body>
</html>
