<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="css/stylesheet.css">
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800" >
        <link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <div class="core_text">

        </div>
    <ul class="liste-quiz" >        
            <div>              
            </br>


            1. Qu’est-ce qu’une donnée personnelle ? (article 4- 1 réponse)
            <li>une information concernant une personne identifiée ou identifiable, même si les données ont été pseudonymisées.</li>
            <li>une information sensible, comme ma couleur de peau, ma religion.</li>
            <li>une information que j’ai divulguée au sein de mon espace considéré comme privé ou personnel.</li>
             
            Réponse : 1
        </br>
            Une « donnée à caractère personnel », est définie comme « toute information se rapportant à une personne physique identifiée ou identifiable », donc « qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale ». Il est également précisé que cela concerne également les données qui ont fait l'objet d'une pseudonymisation « et  qui pourraient être attribuées à une personne physique par le recours à des informations supplémentaires».
    </br>

    2.       Quels principes doivent respecter les traitements de données ? (article 5- 2 réponses)
    <li>Les données stockées doivent être renouvelées tous les ans et cryptées pour en garantir la sécurité.</li>
    <li>Les données doivent être traitées de manière licite, et de façon à garantir une sécurité appropriée, et pendant une durée raisonnable.</li>
    <li>Les données collectées doivent être pertinentes, exactes et en précisant les finalités de leur utilisation.</li>
             
     
    Réponse : 2-3
</br> On retrouve plusieurs éléments de la loi CNIL de 1978, notamment que les données à caractère personnel doivent être : «  traitées de manière licite »,  «collectées pour des finalités déterminées », «, pertinentes […] au regard des finalités pour lesquelles elles sont traitées », « exactes et, si nécessaire, tenues à jour », ,«conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées », et «traitées de façon à garantir une sécurité appropriée ».
    Même si le chiffrement des données n’est pas obligatoire, il est fortement conseillé pour garantir la sécurité des données et également de l’entreprise elle-même.
</br>      
    3. Le consentement (article 7-2rep) :
    <li>Avant de donner son consentement, l’entreprise devra organiser une réunion pendant laquelle il devra expliquer les conditions d’utilisation à l’utilisateur.</li>
    <li>Le consentement pourra être retiré simplement, et à tout moment.</li>
    <li>L’entreprise pourra être sanctionnée si les conditions de consentement ne sont pas claires et accessibles.</li>
    
    Réponse :2-3
</br>
    Le responsable doit toujours être en mesure de démontrer que la personne a donné son consentement dans les cas où ce recueil était nécessaire. Bien sûr, beaucoup noient la demande de consentement dans les conditions générales trop longues, mais cette astuce est repoussée par le RGPD puisqu’il précise que la demande devra « être présentée sous une forme qui la distingue clairement », « compréhensible et aisément accessible, et formulée en des termes clairs et simples ». Il doit être également très simple de retirer son consentement, et à tout moment. De plus, « la personne concernée en est informée [de cette liberté] avant de donner son consentement ».
    
</br> 
    4. Les données sensibles peuvent être collectées… (article 9-2 réponses)
    <li>Quand les données ont été rendues publiques par la personne</li>
    <li>S’il n’est pas précisé dans les conditions générales que la personne ne consent pas à les divulguer.</li>
    <li>Dans le secteur de la santé (médecine, etc.)</li>
     
    Rép 1-3
    </br>
    Ces données concernent :
    -    l'origine ethnique,
    -    les opinions politiques,
    -    convictions religieuses ou philosophiques
    -    l'appartenance syndicale, les données génétiques,
    -    les données biométriques si elles servent à identifier une personne physique de manière unique,
    -    les données de la santé ou celles concernant la vie ou l'orientation sexuelle.
    Ces traitements sont toutefois autorisés dans une série de cas limitatifs, qui peuvent encore être étayés par les États membres de l’UE :
    En cas de consentement de la personne (1)
    En matière de sécurité sociale, protection sociale ou droit du travail.
    Lorsque des intérêts vitaux sont en jeux,
    Pour les associations à finalité politique, philosophique, religieuse ou syndicale,
    Quand les données ont été rendues publiques par la personne
    Dans le secteur de la justice
    Si sont en jeux des « motifs d'intérêt public importants » qui doivent néanmoins respecter « l’essence du droit à la protection de la donnée ».
    Dans le secteur de la santé (médecine, etc.)
    Pour l’archivage, la recherche scientifique ou historique, etc.
    (1) S’il n’est pas précisé dans les conditions générales que la personne ne consent pas à les divulguer, cela ne veut pas dire qu’il consent à les divulguer. Attention !
    


    5. Les droits d’accès et de rectification, à l’effacement ou à l’oubli (articles 15 et 16,17-1rep)
    Une fois des données récoltées :
    <li>la personne concernée peut toujours obliger l’entreprise à retirer ses données</li>
    <li>la personne concernée peut demander une copie des données</li>
    <li>L’entreprise doit demander à la personne de manière régulière si ses données sont exactes</li>
    Rép.2
</br>
    Le responsable doit sur demande pouvoir fournir une copie des données faisant l'objet d'un traitement au client, mais peut demander le paiement « de frais raisonnables basés sur les coûts administratifs pour toute copie supplémentaire demandée par la personne concernée ». En cas d’erreur, le demandeur peut demander, « dans les meilleurs délais », d’obtenir rectification des données inexactes ou incomplètes.
    De plus, si des données ne sont plus nécessaires (principe de minimisation), le consentement de l’intéressé a été retiré, ou si le traitement initial était illicite le demandeur peut faire recours au droit « d’oubli » des données. Ce droit n’est cependant pas absolu. Notamment, il existe des exceptions :
     -lorsque le traitement est nécessaire à la liberté d’expression ou d’information
    - lorsque le traitement résulte d’une obligation légale.
    

                                
    6. La responsabilité du responsable du traitement (article 24-1 réponse)
    <li> Le traitement des données ne doit se faire que par un cercle restreint d’employés de sorte à maximiser la confidentialité et cibler la responsabilité sur un secteur de l’entreprise.</li>
    <li>Le responsable doit obligatoirement savoir chiffrer les données et appliquer cette technique sur demande du client</li>
    <li>L’entreprise doit prendre  des mesures techniques et organisationnelles appropriées pour s'assurer et pouvoir démontrer que le traitement de leurs données respecte le RGPD</li> 
    Réponse 3
    Le responsable du traitement sera « responsable du respect » de ces critères. L’entreprise devra mettre en œuvre « des mesures techniques et organisationnelles appropriées pour s'assurer et être en mesure de démontrer que le traitement est effectué conformément au présent règlement ». 
    Cette disposition impliquera toujours une analyse de risques dès lors que « le traitement peut donner lieu à une discrimination, à un vol ou une usurpation d'identité, à une perte financière, à une atteinte à la réputation, à une perte de confidentialité de données protégées par le secret professionnel, à un renversement non autorisé du processus de pseudonymisation ou à tout autre dommage économique ou social important ».
     
    
    7. Protection des données dès la conception et protection des données par défaut (article 25-1 rép)
    Le Privacy by design c’est :
    <li>la protection des données sur demande</li>
    <li>la protection de la vie privée dès la conception</li>
                    -la protection des données obligatoire pour tous
     
    Rep 2
    Le responsable de traitement devra dès « la détermination des moyens », mettre en œuvre « des mesures techniques et organisationnelles appropriées » comme la pseudonymisation ou la minimisation des données. cf les Articles… Un système de certification est possible (art.42), pour démontrer le respect de ces exigences. (Visions)
    
    
     
    8. Désignation du délégué à la protection des données (article 37-1 rép)
    Un DPD (délégué à la protection des données) devra être désigné par le responsable du traitement dans certains cas. Mais lesquels ?
    <li>dès la récolte de données personnelles</li>                
    <li>à grande échelle et pour des données sensibles</li>
    <li>toujours quand il s’agit de données internationales</li>
     
    Rép 2
    Traitements effectués par une autorité publique
    Suivi à grande échelle systématique des personnes physiques
    Traitement à grande échelle des données sensibles
    Un DPD est un spécialiste du droit et des pratiques de protection des données, donc il n’est pas obligatoirement un membre du personnel. Il doit être « associé, d'une manière appropriée et en temps utile, à toutes les questions relatives à la protection des données à caractère personnel » (art. 38). Il ne peut pas être relevé de ses fonctions ou pénalisé, et il est le contact privilégié pour les personnes concernées par la collecte des données.
    Ses missions :
    -Contrôle,
    -sensibilisation,
    -formation du personnel,
    -coopération avec la CNIL.
    - information et conseil sur le RGPD et autres lois
    
            9. Le plus petit niveau de découpage des données est appelé:
            <li>Indice minimal</li>
            <li>Granularité</li>
            <li>Atomicité</li>
            <li>Disponibilité</li>
        </br>


                10. Quel protocole de transfert est spécifiquement adapté aux objets connectés ?
                <li>HTML</li>
                <li>Bluetooth</li>
                <li>3G</li>
                <li>5G</li>
        </br>

                Bonus : Entrée en vigueur et application (article 99)
                Cet article final fixe la date d’application du RGPD 
                <li>au 25 mai 2018.</li>
                <li>1er janvier 2019.</li>
                <li>1er avril 2020.</li>
                rep 1
                

                
                https://www.nextinpact.com/actualite-abonnes-f4fbd0a18be4d95f019211fa8b375f5b80815bac549dda7535402002d5d533c5 
                
                https://www.eui.eu/Documents/Research/HistoricalArchivesofEU/Règlement-UE-2016-679-du-Parlement-européen-et-du-Conseil-du-27-avril-2016.pdf
                
                    
     
                 
                
        </div>
    </ul>
</div>
<%- include('partials/footer') %>
</body>
</html>