<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" , href="css/stylesheet.css">
    <link rel="stylesheet" , href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800" >
    <link rel="stylesheet" , href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <%- include('partials/header') %>

<div class="liste-quiz">
</br>

<div class="boutonRGPD">
    <a href="https://www.eui.eu/Documents/Research/HistoricalArchivesofEU/Règlement-UE-2016-679-du-Parlement-européen-et-du-Conseil-du-27-avril-2016.pdf">
        <p class="txtonboutons"></br> <strong> Vous pourrez trouver le Réglement Général sur la Protection des Données en entier ici.</strong> </p>
    </a>
</div>
</br>
    <div id="quizjs"> </div>
    <div id="resultsjs"></div>
    </br>
    <button id="submitjs" style="margin-left:41%; margin-right:41%">Soumettre le quiz </button>
    </br></br></br>

<script type="text/javascript" >
    var submitButton=document.getElementById('submitjs');
    var myQuestions = [
        {
        question : "1. Qu’est-ce qu’une donnée personnelle ? (article 4-RGPD)",
        answers : {
                        a: "Une information concernant une personne identifiée ou identifiable, même si les données ont été pseudonymisées.",
                        b: "Une information que j’ai divulguée au sein de mon espace considéré comme privé ou personnel.",
                        c: "Une information sensible, comme ma couleur de peau, ma religion."
        },
        correctAnswer : "a",
        explanation:"   Une « donnée à caractère personnel », est définie comme « toute information se rapportant à une personne physique identifiée ou identifiable », donc « qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale ». Il est également précisé que cela concerne également les données qui ont fait l'objet d'une pseudonymisation « et  qui pourraient être attribuées à une personne physique par le recours à des informations supplémentaires».",
        },
        {
        question: " 2. Quels principes doivent respecter les traitements de données ? (article 5-RGPD)",
        answers : {
                a: "Les données stockées doivent être renouvelées tous les ans et cryptées pour en garantir la sécurité.",
                b: "Les données doivent être traitées de manière licite, et de façon à garantir une sécurité appropriée, et pendant une durée raisonnable.",
                c: "Les données collectées doivent être pertinentes, sans forcément avoir à préciser les finalités de leur utilisation."
        },
        correctAnswer : "b",
        explanation:"   On retrouve plusieurs éléments de la loi CNIL de 1978, notamment que les données à caractère personnel doivent être : «  traitées de manière licite »,  «collectées pour des finalités déterminées », « pertinentes […] au regard des finalités pour lesquelles elles sont traitées », « exactes et, si nécessaire, tenues à jour », «conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées », et «traitées de façon à garantir une sécurité appropriée ». Même si le chiffrement des données n’est pas obligatoire, il est fortement conseillé pour garantir la sécurité des données et également de l’entreprise elle-même."
        },
        {
        question:"3. Le consentement (article 7-RGPD) :",
        answers:{
            a:"Avant de donner son consentement, l’entreprise devra organiser une réunion pendant laquelle il devra expliquer les conditions d’utilisation à l’utilisateur.",
            b:"Le consentement pourra être retiré simplement, et à tout moment.",
            c:"L’entreprise ne pourra pas être sanctionnée si les conditions de consentement ne sont pas claires et accessibles.",
        },
        correctAnswer:"b",
        explanation:"   Le responsable doit toujours être en mesure de démontrer que la personne a donné son consentement dans les cas où ce recueil était nécessaire. Bien sûr, beaucoup noient la demande de consentement dans les conditions générales trop longues, mais cette astuce est repoussée par le RGPD puisqu’il précise que la demande devra « être présentée sous une forme qui la distingue clairement », « compréhensible et aisément accessible, et formulée en des termes clairs et simples ». Il doit être également très simple de retirer son consentement, et à tout moment. De plus, « la personne concernée en est informée [de cette liberté] avant de donner son consentement »."
        },
        {
        question:"4. Les données sensibles peuvent être collectées… (article 9-RGPD)",
        answers:{
            a:"...dans le secteur de la santé. ",
            b:"...quand les données ont été divulguées par un proche.",
            c:"...s’il n’est pas précisé dans les conditions générales que la personne ne consent pas à les divulguer.",
        },
        correctAnswer:"a",
        explanation:`
            Ces données concernent : </br>
            -    l'origine ethnique, </br>
            -    les opinions politiques, </br>
            -    les convictions religieuses ou philosophiques,</br>
            -    l'appartenance syndicale, les données génétiques, </br>
            -    les données biométriques si elles servent à identifier une personne physique de manière unique, </br>
            -    les données de la santé ou celles concernant la vie ou l'orientation sexuelle.</br>
            Ces traitements sont toutefois autorisés dans une série de cas limitatifs, qui peuvent encore être étayés par les États membres de l’UE :
        </br>- En cas de consentement de la personne (1),     </br>
            - En matière de sécurité sociale, protection sociale ou droit du travail,</br>
            - Lorsque des intérêts vitaux sont en jeux,</br>
            - Pour les associations à finalité politique, philosophique, religieuse ou syndicale,</br>
            - Quand les données ont été rendues publiques par la personne,</br>
            - Dans le secteur de la justice,</br>
            - Si sont en jeux des « motifs d'intérêt public importants »,</br>
            - Dans le secteur de la santé (médecine, etc.),</br>
            - Pour l’archivage, la recherche scientifique ou historique, etc.</br>
            (1) S’il n’est pas précisé dans les conditions générales que la personne ne consent pas à les divulguer, cela ne veut pas dire qu’il consent à les divulguer. Il s’agit d’une erreur et d’un manque de la part de l’auteur des conditions.`
        },
        {
        question:"5. Les droits d’accès et de rectification, à l’effacement ou à l’oubli (articles 15 et 16,17-RGPD)",
        answers:{
            a:"La personne concernée peut toujours obliger l’entreprise à retirer ses données.",
            b:"L’entreprise doit demander à la personne de manière régulière si ses données sont exactes.",
            c:"La personne concernée peut demander une copie des données."
        },
        correctAnswer:"c",
        explanation:`Le responsable doit sur demande pouvoir fournir une copie des données faisant l'objet d'un traitement au client, mais peut demander le paiement « de frais raisonnables basés sur les coûts administratifs pour toute copie supplémentaire demandée par la personne concernée ». En cas d’erreur, le demandeur peut demander, « dans les meilleurs délais », d’obtenir rectification des données inexactes ou incomplètes.
            De plus, si des données ne sont plus nécessaires (principe de minimisation), le consentement de l’intéressé a été retiré, ou si le traitement initial était illicite le demandeur peut faire recours au droit « d’oubli » des données. Ce droit n’est cependant pas absolu. Notamment, il existe des exceptions :
            </br>-lorsque le traitement est nécessaire à la liberté d’expression ou d’information
            </br>- lorsque le traitement résulte d’une obligation légale.`
        },
        {
        question:"6. La responsabilité du responsable du traitement (article 24-RGPD)",
        answers:{
            a:"Le traitement des données ne doit se faire que par un cercle restreint d’employés de sorte à maximiser la confidentialité et cibler la responsabilité sur un secteur de l’entreprise.",
            b:"Le responsable doit obligatoirement savoir chiffrer les données et appliquer cette technique sur demande du client.",
            c:"L’entreprise doit prendre  des mesures techniques et organisationnelles appropriées pour s'assurer et pouvoir démontrer que le traitement de leurs données respecte le RGPD."
        },
        correctAnswer:"c",
        explanation:`Le responsable du traitement sera « responsable du respect » de ces critères. L’entreprise devra mettre en œuvre « des mesures techniques et organisationnelles appropriées pour s'assurer et être en mesure de démontrer que le traitement est effectué conformément au présent règlement ».
            Cette disposition impliquera toujours une analyse de risques dès lors que « le traitement peut donner lieu à une discrimination, à un vol ou une usurpation d'identité, à une perte financière, à une atteinte à la réputation, à une perte de confidentialité de données protégées par le secret professionnel, à un renversement non autorisé du processus de pseudonymisation ou à tout autre dommage économique ou social important ».`
        },
        {
        question:"7. Protection des données dès la conception et protection des données par défaut :</br> Le <strong> Privacy by design </strong>  c’est … (article 25-RGPD)",
        answers:{
            a:"...la protection des données sur demande.",
            b:"...la protection de la vie privée dès la conception.",
            c:"...la protection des données obligatoire pour tous."
        },
        correctAnswer:"b",
        explanation:`Le responsable de traitement devra dès « la détermination des moyens », mettre en œuvre « des mesures techniques et organisationnelles appropriées » comme la pseudonymisation ou la minimisation des données. cf les Articles… Un système de certification est possible (art.42), pour démontrer le respect de ces exigences. (Visions)`
        },
        {
        question:"8.Un DPD (délégué à la protection des données) devra être désigné par le responsable du traitement dans certains cas. Mais lesquels ? (article 37-RGPD)",
        answers:{
            a:"Dès la récolte de données personnelles.",
            b:"À grande échelle et pour des données sensibles.",
            c:"Toujours quand il s’agit de données internationales."
        },
        correctAnswer:"b",
        explanation:`Les conditions sont les suivantes :
            </br>- Lorsque les traitements sont effectués par une autorité publique,
            </br>- Quand le suivi se fait à grande échelle et de manière systématique des personnes,
            </br>- Quand le traitement se fait à grande échelle et sur des données sensibles,
            </br>Un DPD est un spécialiste du droit et des pratiques de protection des données, donc il n’est pas obligatoirement un membre du personnel. Il doit être « associé, d'une manière appropriée et en temps utile, à toutes les questions relatives à la protection des données à caractère personnel » (art. 38). Il ne peut pas être relevé de ses fonctions ou pénalisé, et il est le contact privilégié pour les personnes concernées par la collecte des données.
            </br>    Ses missions :
            </br>   - Contrôle,
            </br>    - Sensibilisation,
            </br>    - Formation du personnel,
            </br>    - Coopération avec la CNIL,
            </br>    - Information et conseil sur le RGPD et autres lois.`
        },
        {
        question:"9. Le plus petit niveau de découpage des données est appelé:",
        answers:{
            a:"Indice minimal",
            b:"Granularité",
            c:"Atomicité",
            d:"Disponibilité"
        },
        correctAnswer:"b",
        explanation:""
        },
        {
        question:"10. Quel protocole de transfert est spécifiquement adapté aux objets connectés ? ",
        answers:{
            a:"HTML",
            b:"Bluetooth",
            c:"3G",
            d:"5G"
        },
        correctAnswer:"b",
        explanation:""
        },
        {
        question:"Bonus. Le RGPD entre en vigueur le :",
        answers:{
            a:"25 mai 2018.",
            b:"1er janvier 2019.",
            c:"1er avril 2020."
        },
        correctAnswer:"a",
        explanation:""
        },
    ];

    function buildQuiz (questions, submitButton) {
    function showQuestions(questions ){
        var output=[];
        var answer=[] ;
        for (var i=0; i<(questions.length); i++){
            answer.push([]);
            for (letter in questions[i].answers){
                answer[i].push(
                    ' <label> </br> <input type="radio" name="question'+i+'"value="'+letter+'" >'
                        +letter+ ': '
                        +questions[i].answers[letter]
                    +' </label> '
                );};
            output.push('<div class="question"> </br><strong>'+questions[i].question+'</strong></div>'+'<div class="answers">'+answer[i].join('')+'</div>');
        };
        document.getElementById('quizjs').innerHTML=output.join('');


    function showResults(questions){
        var userAnswer='';
        var numCorrect=0;
        var results=[];
        output=[];
        resultOutput=[];
        for(var i=0; i<questions.length; i++){
            results.push([]);
            resultOutput.push('<div class="question"> </br> <strong>'+questions[i].question+'</strong></div>'+'<div class="answers">')
            var answerContainers = document.getElementById('quizjs').querySelectorAll('.answers');
            userAnswer=( answerContainers[i].querySelector('input[name=question'+i+']:checked')||{} ).value;
            if (userAnswer===questions[i].correctAnswer){
                numCorrect++;
                for (letter in questions[i].answers){
                    if (letter===questions[i].correctAnswer){
                        results[i].push(
                        ' <p class="correct"> '
                        +letter+ ': '
                        +questions[i].answers[letter]
                        +' </p>')
                    }
                    else{
                        results[i].push(
                        '<p class="correct2">'+letter+ ': '+questions[i].answers[letter]+' </p> ')
                    };
                };
            }
            else{
                for (letter in questions[i].answers){
                    if (letter===questions[i].correctAnswer){
                        results[i].push(
                        ' <p class="correct"> '
                        +letter+ ': '
                        +questions[i].answers[letter]
                        +' </p>')
                    }
                    else{
                        results[i].push(
                        ' <p class="false">'+letter+ ': '+questions[i].answers[letter]+' </p> ')
                    };
                }
            }
            resultOutput.push(results[i].join(''));
            resultOutput.push('</div>'+'<div class="explication"> </br><strong> Réponse :</strong></br>'+ questions[i].explanation+'</div>') ;
        }
        document.getElementById('resultsjs').innerHTML=resultOutput.join('')+'</br><div style="text-align:center;font-family:Nunito"><strong>'+numCorrect+' sur '+questions.length+'</strong></div></br>';
        document.getElementById('quizjs').innerHTML=output;
    }
    submitButton.onclick=function(){
        showResults(questions);
        document.getElementById('submitjs').innerHTML="<a href=<%= config.urlAccueil %> >Retour à la page d'accueil</a>";
    }
    }
    showQuestions(questions);
    };

    //display quiz
    buildQuiz(myQuestions,submitButton);

</script>

</div>

<br/><br/>
<%- include('partials/footer') %>
</body>
</html>
