<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" , href="css/stylesheet.css">
        <link rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans|Raleway:400,800" >
        <link rel="stylesheet", href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <div class="core_text">
            <p class = "extraits"></p>
            <p class="references"><p class="cubes"><i class="fa fa-cubes fa-3x"></i></p></p>
            <p class="intro"></p>
        </div>
    <ul class="liste-quiz" >        
            <div>
            <span class="sideline"></span>                
            </br>
            <li>
                <span class="dot"></span>
                <h2> sous titre 1</h2>
                <p></p>
                <a href=<%= config.urlResources %>><p> Ressources </p> </a>
            </li>
        </div>
    </ul>
</div>
<%- include('partials/footer') %>
</body>
</html>