
body {
  margin:0;
  background-image:url("../resources/triangles.jpg");
}

/*##########################################
  ##                                      ##
  ##                 TEXT                 ##
  ##                                      ##
  ########################################## */


h1{
    display:inline;
    color:#E5f3f5 ;
    font-family: Raleway;
    font-weight: Extra-Bold 800;
    font-size: 80px;
}


h3{
  display:inline;
  color:#FFFFFF ;
  font-family: Raleway;
  font-weight: Extra-Bold 800;
  font-size: 80px;
}

.container-titre{
  margin-right:calc(100% /4 - 8.4em);
  margin-left:calc(100% /4 - 3em);
  display:inline;
}

h2{
  color:#313131;
  font-family: Nunito;
  font-size:14pt;
  text-align:justify;  
  margin-right:15px;
  margin-left:15px;
}

p{
  font-family:Nunito Sans;
  text-align:justify;  
  margin-right:35px;
  margin-left:15px;
}

.core_text{
  margin-left: 20%;
  margin-top:50px;
  border-radius:5px;
  margin-right: 20%;
  background-color: #CCC;
  /*border-left: 5px solid #000;*/
  box-shadow: 5px 5px 8px grey;
}

.intro{
  font-family:Raleway;
  font-size:13pt;
  color:#133665;
  margin-right:40px;
  margin-left:40px;
}

.text{
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.extraits{
  font-family:Raleway;
  font-style: italic;
  font-size:12pt;
  color:#245897;
  margin-right:40px;
  margin-left:40px
}

.references{
  font-family:Raleway;
  font-size:11pt;
  color:#245897;
  margin-right:40px;
  margin-left:40px
}
.cubes{
  text-align:center;
  color:#245897
}

/*##########################################
  ##                                      ##
  ##                 BLOCS                ##
  ##                                      ##
  ########################################## */

.barre_titre{
  display:block;
  background-color: #133665;  
  position:relative;
  /* To allow background to be relative */
  flex-direction: column;
  top:0;
  box-shadow: 0px /*décalage par rapport à la gauche*/ 5px /*et au haut*/20px grey;
}

.home_button{
  display:inline;
  cursor: pointer;
  margin-left: 0;
  color:#FFF;
  padding:10px;
  margin: 0;
}

.liste-accueil{
  list-style-type: none;
  margin: 0;
  padding-left: 1.7em;
  position: relative;
  display:block;
  margin-left: 20%;
  margin-top:50px;
  border-radius:5px;
  margin-right: 20%;
  background-color: #CCC;
  box-shadow: 5px 5px 8px grey;
  
}

